git config --global -e
[user]
	name = SHAMMY ARAVINDVARDHAN KUMAR DEVARAPALLI
	email = SDEVARAPALLI@transurban.com
[sequence]
	editor = code --wait --reuse-window #up to you what editor you want to use
[core]
  editor = code --wait #up to you what editor you want to use
